*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F1F5F9;
    font-family:Arial, Helvetica, sans-serif;
}

.sidebar{
    min-height:100vh;
    background:#0F172A;
    color:white;
    padding:25px 15px;
}

.logo-section h3{
    font-size:24px;
    font-weight:bold;
}

.logo-section p{
    color:#94A3B8;
    font-size:14px;
}

.sidebar .nav-link{
    color:#CBD5E1;
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
    transition:.3s;
}

.sidebar .nav-link:hover{
    background:#2563EB;
    color:white;
}

.sidebar .nav-link.active{
    background:#2563EB;
    color:white;
}

.sidebar i{
    margin-right:10px;
}

main{
    padding:30px;
}

main h2{
    font-weight:bold;
    color:#1E293B;
}

main p{
    color:#64748B;
}

.kpi-card{

    background:white;

    border-radius:12px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.kpi-card:hover{

    transform:translateY(-5px);

}

.kpi-card h6{

    color:#64748B;

    font-size:15px;

}

.kpi-card h2{

    margin-top:10px;

    font-weight:bold;

    color:#2563EB;

}

.kpi-card p{

    margin-top:10px;

    color:#16A34A;

    font-size:14px;

}

.dark-mode {
    background: #121212;
    color: white;
}

/* =========================
   DARK MODE STYLES
   ========================= */

.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode .kpi-card {
    background: #1e1e1e;
    color: white;
}

/* ===========================
   Professional Table
=========================== */

.table tbody tr:hover{
    background-color:#eef5ff;
    transition:0.3s;
    cursor:pointer;
}

.table tbody tr:nth-child(even){
    background:#fafafa;
}